<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="dashboard_content">
	<div class="titleSection">
		<h1>예약 관리</h1>
		<ul class="mini-nav">
			<li>
				<p class="nav-item" id="reserve-list">예약 리스트</p>
			</li>
			<li>
				<p class="nav-item" id="reserve-cancel-list">예약 강제 취소</p>
			</li>
		</ul>
	</div>
	<!-- END titleSection -->

	<div class="boardWrap reserve">
		<section class="reserve-header">
			<div class="searchBar-section">
				<div class="searchBar-wrap">
					<div id="type" class="sb_1 type">
						<!-- <span>타입</span> -->
						<span>예약자</span>
					</div>
					<div class="sb_2">
						<input type="text" placeholder="검색어를 입력하세요." id="input_searchBar" />
					</div>

					<!-- CUSTOM SELECT -->
					<section>
						<!-- START TYPE SELECT -->
						<div id="custom-type-select" class="type-select-wrap blind">
							<ul class="type-select">
								<li id="type-list-desk" class="type-select-list" type="desk">데스크</li>
								<li id="type-list-metting-room" class="type-select-list" type="meeting-room">회의실</li>
								<li id="type-list-office" class="type-select-list" type="office">오피스</li>
							</ul>
						</div>
						<!-- END TYPE SELECT -->
					</section>
				</div>
			</div>

			<ul class="reserve-filter-list">
				<li id="reserve-all" class="reserve-item" th:classappend="${reserve_state}=='all' ? 'active'">전체</li>
				<li id="reserve-ing" class="reserve-item" th:classappend="${reserve_state}=='in_use' ? 'active'">예약중
				</li>
				<li id="reserve-cancel" class="reserve-item" th:classappend="${reserve_state}=='cancel' ? 'active'">취소
				</li>
				<li id="reserve-end" class="reserve-item" th:classappend="${reserve_state}=='end' ? 'active'">종료</li>
			</ul>
		</section>
		<!-- END reserve-header -->

		<section class="reserveWrap">
			<div class="custom-table">
				<div class="ct-header reserve">
					<div class="ct-header-cell reserve">예약 날짜</div>
					<div class="ct-header-cell reserve">진행 여부</div>
					<div class="ct-header-cell reserve">예약 공간</div>
					<div class="ct-header-cell reserve">예약자</div>
					<div class="ct-header-cell reserve">연락처</div>
					<div class="ct-header-cell reserve">예약자 이메일</div>
					<div class="ct-header-cell reserve">예약 금액</div>
					<div class="ct-header-cell reserve">결제 방식</div>
				</div>
				<!-- END ct-header -->

				<div class="ct-body">
					<th:block th:each="vos : ${r_vos}">
						<!-- START ct-body-row reserve -->
						<div class="ct-body-row reserve">
							<div class="ct-body-cell reserve">
								[[ ${vos.reserve_sdate} ]] ~ <br />[[ ${vos.reserve_edate} ]]
							</div>
							<div class="ct-body-cell reserve">
								<button th:if="${vos.reserve_state=='begin'}" class="ct-body-btn begin">이용전</button>
								<button th:if="${vos.reserve_state=='in_use'}" class="ct-body-btn in_use">이용중</button>
								<button th:if="${vos.reserve_state=='end'}" class="ct-body-btn end">이용완료</button>
								<button th:if="${vos.reserve_state=='cancel'}" class="ct-body-btn cancel">취소</button>
							</div>

							<div class="ct-body-cell reserve">[[ ${vos.room_name} ]]</div>
							<div class="ct-body-cell reserve">[[ ${vos.user_name} ]]</div>
							<div class="ct-body-cell reserve">[[ ${vos.user_tel} ]]</div>
							<div class="ct-body-cell reserve">[[ ${vos.user_email} ]]</div>
							<div class="ct-body-cell reserve reserve-price">[[ ${vos.actual_payment} ]]</div>
							<div class="ct-body-cell reserve">
								<th:block th:if="${vos.payment_state=='T'}">선</th:block>
								<th:block th:if="${vos.payment_state=='F'}">후</th:block>
							</div>
						</div>
						<!-- END ct-body-row reserve -->
					</th:block>
				</div>
				<!-- END ct-body -->

				<ul class="pagination blind">
					<li class="page-item">
						<button>
							<img src="/static/IMG/dash-board/ico-double-left.svg" alt="-10" />
						</button>
					</li>
					<li class="page-item">
						<button>
							<img src="/static/IMG/dash-board/ico-left.svg" alt="-1" />
						</button>
					</li>
					<li class="page-item"><button>1</button></li>
					<li class="page-item"><button>2</button></li>
					<li class="page-item"><button>3</button></li>
					<li class="page-item"><button>4</button></li>
					<li class="page-item"><button>5</button></li>
					<li class="page-item">
						<button>
							<img src="/static/IMG/dash-board/ico-right.svg" alt="+1" />
						</button>
					</li>
					<li class="page-item">
						<button>
							<img src="/static/IMG/dash-board/ico-double-right.svg" alt="+10" />
						</button>
					</li>
				</ul>
				<!-- END pagination -->
			</div>
			<!-- END custom-table -->
		</section>
		<!-- END reserveWrap -->
	</div>
	<!-- boardWrap reserve -->
</div>