<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="dashboard_content">

  <div class="titleSection">
    <h1>공간 관리</h1>
    <button id="btn-room-add" class="btn-room-add">추가</button>
    <ul class="mini-nav">
      <!-- <li><p id="mini-nav-list" class="nav-item" id="room-list">리스트</p></li>
      <li><p id="mini-nav-qna" class="nav-item" id="qna-list">문의</p></li>
      <li><p id="mini-nav-review" class="nav-item" id="review-list">후기</p></li> -->
      <li><p id="mini-nav-list" class="nav-item" >리스트</p></li>
      <li><p id="mini-nav-qna" class="nav-item">문의</p></li>
      <li><p id="mini-nav-review" class="nav-item">후기</p></li>
    </ul>
    <!-- END mini-nav -->
  </div>
  <!-- END titleSection -->

  <div class="boardWrap room-wrapping">
    <div class="room-list">
      <th:block th:each="vos : ${rm_vos}">
        <div class="room-item">
          <div class="item-header">
            <p>
              [[ ${vos.room_name} ]]
            </p>
            <div class="item-buttons">
              <button class="btn-room-edit" th:attr="idx=${vos.room_no}">수정</button>
              <button class="btn-room-delete" th:attr="idx=${vos.room_no}">삭제</button>
            </div>
            <!-- END item-buttons -->
          </div>
          <!-- END item-header -->
          <div class="item-body">
            <p id="room-type">
              <th:block th:switch="${vos.room_type}">
                <span th:case="desk">데스크</span>
                <span th:case="meeting_04">4인 회의실</span>
                <span th:case="meeting_06">6인 회의실</span>
                <span th:case="meeting_10">10인 회의실</span>
                <span th:case="office">오피스</span>
              </th:block>
            </p>
            
            <div>
	            <span id="room-price" class="room-price">[[ ${vos.room_price} ]]</span>
	            <span id="unit">[[${unit}]]</span>
            </div>
          </div>
          <!-- END item-body -->
        </div>
      </th:block>
    </div>
    <!-- END room-list -->
    
  </div>
  <!-- END boardWrap -->
  
	<section class="paging-section">
    	<div class="paging-wrap">
            <span th:if="${res.maxPage} <= 5" class="paging-box before-page-btn hide"> &lt;&lt; </span>
            <span th:unless="${res.maxPage} <= 5" class="paging-box before-page-btn"> &lt;&lt; </span>
            
            <th:block th:with="ceil=${#numbers.formatInteger(T(java.lang.Math).ceil((res.nowPage)/5.0),1)}" >
                <th:block th:with="start=(5 * (${ceil} - 1) + 1)" >
	                <div class="paging-num-wrap paging-wrap">
	                <th:block th:each="num : ${#numbers.sequence(start, res.maxPage)}">
	                    <span th:if = "${num} == ${res.nowPage}" th:attr="idx=${num}" class="paging-box paging-num choice">[[${num}]]</span>
	                    <span th:if = "${num} != ${res.nowPage}" th:attr="idx=${num}" class="paging-box paging-num un-choice">[[${num}]]</span>
	                </th:block>
	                </div>
                </th:block>
            </th:block>
            
            <span th:if="${res.totalPageCnt} > 5 and ${res.maxPage} < ${res.totalPageCnt}" class="paging-box next-page-btn">>></span>
            <span th:unless="${res.totalPageCnt} > 5 and ${res.maxPage} < ${res.totalPageCnt}" class="paging-box next-page-btn hide">>></span>
            <input type="hidden" id="totalPageCnt" th:value="${res.totalPageCnt}">
        </div>
    </section>
</div>