<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="dashboard_content">
  <div class="titleSection">
    <h1>환경 설정</h1>
  </div>
  <!-- END titleSection -->

  <div class="boardWrap settings">
    <div class="titleSection settings">
      <h1>호스트 정보</h1>
      <button id="btn-update-pw" class="btn-update">비밀번호 변경</button>
      <button id="btn-update-host" class="btn-update">정보 변경</button>
    </div>
    <!-- END titleSection settings -->

    <div class="host-info-list">
      <div class="host-item">
        <p>상호명</p>
        <span>[[${vo.backoffice_name}]]</span>
      </div>
      <div class="host-item">
        <p>대표</p>
        <span>[[${vo.owner_name}]]</span>
      </div>
      <div class="host-item">
        <p>사업자 등록 번호</p>
        <span>[[${vo.backoffice_id}]]</span>
      </div>
      <div class="host-item">
        <p>위치</p>
        <span>[[${vo.roadname_address}]] [[${vo.number_address}]] [[${vo.detail_address}]]</span>
      </div>
      <div class="host-item">
        <p>전화번호</p>
        <span>[[${vo.backoffice_tel}]]</span>
      </div>
      <div class="host-item">
        <p>이메일</p>
        <span>[[${vo.backoffice_email}]]</span>
      </div>
    </div>
    <!-- END host-info-list -->

    <div class="host-info-list">
      <div class="host-item">
        <p>사업체 태그</p>
        <ul class="host-option-list">
          <li class="host-option-item">[[${vo.backoffice_tag}]]</li>
        </ul>
      </div>

      <div class="host-item">
        <p>공간 옵션</p>
        <ul class="host-option-list">
          <th:block th:each="option : ${backoffice_option}">
          	<li class="host-option-item">[[${option}]]</li>
          </th:block>
        </ul>
      </div>
      <div class="host-item">
        <p>주변 시설</p>
        <ul class="host-option-list">
          <th:block th:each="around : ${backoffice_around}">
            <li class="host-option-item">[[${around}]]</li>
          </th:block>
        </ul>
      </div>
      <div class="host-item">
        <p>사업체 소개</p>
        <pre>[[${vo.backoffice_info}]]</pre>
      </div>
    </div>
  </div>
  <!-- END boardWrap -->
  <div class="btn-group-settings">
    <button id="btn-host-delete" class="btn-host-delete">업체 삭제 요청</button>
    <button id="btn-host-logout" class="btn-host-delete">로그아웃</button>
  </div>
  <!-- END btn-group-settings -->

</div>