<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
	<meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
	<title>[[ ${title} ]]</title>

	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

	<link rel="stylesheet" href="/static/CSS/common/common.css" />
	<link rel="stylesheet" href="/static/CSS/common/footer.css" />
	<link rel="stylesheet" href="/static/CSS/common/custom-timepicker.css" />

	<link rel="stylesheet" href="/static/CSS/backoffice/host-login.css" />
	<link rel="stylesheet" href="/static/CSS/backoffice/host-header.css" />
	<link rel="stylesheet" href="/static/CSS/backoffice/host-landing.css" />
	<link rel="stylesheet" href="/static/CSS/backoffice/host-insert.css" />

	<script src="/static/JS/common/jquery-3.6.1.min.js"></script>
	<script src="/static/JS/common/jquery.cookie.js"></script>
	<script src="/static/JS/backoffice/host_header.js"></script>
	<script src="/static/JS/backoffice/host_popup.js"></script>
	<script src="/static/JS/backoffice/host_insert.js"></script>
	<script src="/static/JS/backoffice/custom-image-input.js"></script>
	<script src="/static/JS/backoffice/custom_timepicker.js"></script>

	<!-- timepicker library script -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		var is_login = /*[[${session.backoffice_id}]]*/ "is_login";
		/*]]*/
	</script>
	<script>
		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function sample4_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var auto_roadAddr = data.autoRoadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}

					console.log(roadAddr);

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					$('#zipcode').val(data.zonecode);

					if (roadAddr.length > 0)
						$('#roadname_address').val(roadAddr);
					else
						$('#roadname_address').val(auto_roadAddr);

					$('#number_address').val(data.jibunAddress);

				}
			}).open();
		}

		$(function () {
			/** 호스트 메인 페이지 이동 */
			$('.btn-start-hosting, #go-dashboard').click(function () {
				if (is_login != null) {
					location.href = '/backoffice/main?backoffice_no=' + $.cookie("backoffice_no");
				}
				else {
					$(".popup-background:eq(1)").removeClass("blind");
					$("#common-alert-popup").removeClass("blind");
					$(".common-alert-txt").text("로그인 후 사용가능한 페이지입니다.");
				}
			});
		});
	</script>

</head>

<body>
	<div class="pageWrap">
		<th:block th:if="${session.backoffice_id} == null">
			<div th:replace="thymeleaf/html/backoffice/common/header :: backoffice_header"></div>
		</th:block>
		<th:block th:if="${session.backoffice_id} != null">
			<div th:replace="thymeleaf/html/backoffice/common/header :: after_login_backoffice_header"></div>
		</th:block>

		<section class="contentWrap">
			<div th:replace="${content} :: backoffice_content(${title})"></div>

			<div th:replace="thymeleaf/html/office/common/footer :: footer"></div>
		</section>
	</div>

	<div class="popup-background blind">

		<!-- START LOGIN SECTION -->
		<div id="login-section" class="blind">
			<section class="login-popup-logo-section">
				<img src="/static/IMG/common/RENCE-Host.svg" class="popup-logo host-login-popup-logo">
			</section>
			<section class="login-popup-input-section">
				<input type="text" id="login-id" class="login-popup-input" name="username" placeholder="아이디를 입력하세요."
					autocomplete="off" />
				<input type="password" id="login-pw" class="login-popup-input" name="password"
					placeholder="비밀번호를 입력하세요." />
			</section>
			<section class="login-popup-btn-section">
				<input type="button" id="login-btn" value="로그인">
				<div class="txt-btn-wrap">
					<span id="go-find-pw" class="txt-btn">비밀번호 찾기</span>
					<span id="host-login-close" class="txt-btn login-close">창닫기</span>
				</div>
			</section>
		</div>
		<!-- END LOGIN SECTION -->

		<!-- START FIND-PW SECTION -->
		<div id="find-pw-section" class="find-section blind">
			<section class="find-popup-logo-section">
				<span>비밀번호 찾기</span>
			</section>
			<section class="find-popup-input-section">
				<div class="email-wrap">
					<span class="find-guide-txt">사업자 이메일을 입력해주세요.</span>
					<input type="email" id="find-pw-email" class="find-popup-input" placeholder="이메일을 입력하세요." />
				</div>
				<div>
					<span class="find-guide-txt">사업자 등록 번호를 입력해 주세요.</span>
					<input type="text" id="find-pw-backoffice-code" class="find-popup-input"
						placeholder="사업자 등록 번호를 입력하세요." />
				</div>
			</section>
			<section class="find-popup-btn-section">
				<input type="button" id="find-pw-btn" class="find-btn" value="비밀번호 찾기" />
				<input type="button" id="find-pw-close" class="find-pw-close" value="창닫기" />
			</section>
		</div>
		<!-- END FIND-PW SECTION -->

		<!-- START LOGOUT CONFIRM POPUP -->
		<div id="logout-popup" class="confirm-popup blind">
			<section class="confirm-txt-section">
				<span class="logout-txt">
					로그아웃 하시겠습니까?<br><br>
					로그아웃 시 메인페이지로 이동됩니다.
				</span>
			</section>
			<section class="confirm-btn-section">
				<div id="logout-btn" class="confirm-yesBtn">로그아웃</div>
				<div id="logout-closeBtn" class="confirm-noBtn">닫기</div>
			</section>
		</div>
		<!-- END logout popup -->

		<!-- START FAIL CUSTOM ALERT POPUP -->
		<div id="fail-alert-popup" class="alert-popup blind">
			<section class="alert-txt-section">
				<span>올바른 정보를 입력해 주세요.</span>
			</section>
			<section id="fail-alert-btn" class="alert-btn-section">
				<span>확인</span>
			</section>
		</div>
	</div>

	<div class="popup-background blind">
		<!-- START SPINNER SECTION -->
		<div id="spinner-section" class="blind">
			<img src="/static/IMG/common/spinner.gif" class="spinner-img">
		</div>
		<!-- END SPINNER SECTION -->

		<!-- START COMMON CUSTOM ALERT POPUP -->
		<div id="common-alert-popup" class="alert-popup blind">
			<section class="alert-txt-section">
				<span class="common-alert-txt"></span>
			</section>
			<section id="common-alert-btn" class="alert-btn-section">
				<span>확인</span>
			</section>
		</div>
	</div>
</body>

</html>