/* ************ */
/* @author 전판근 */
/* ************ */

.headerWrap{
    width: 100%;
    height: 95px;

    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow : 0 1px 0 #e4e4e4 ;
    
    font-family: 'OTWelcome';
}


/***********************/
/**   LOGO SECTION    **/
/***********************/
.logo-section{
    display: flex;
    justify-content: right;
    width: 11%;

    cursor: pointer;
}
.logo-mku{
    width: 126px;
}

/***********************/
/** host Menu SECTION **/
/***********************/

.hostMenu-section {
  display: flex;
  justify-content: right;
  width: 12%;
  position: relative;
  cursor: pointer;
}

.hostMenu {
  width: 120px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  background-color: #b2a4ff;
  margin-right: 50px;
}

.host_menu_img {
  width: 35px;
  height: 36px;
  border-radius: 100%;
  margin-right: 9px;
}

.host_profile_img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/***********************/
/* CUSTOM TYPE SELECT  */
/***********************/
.type-select-wrap {
  position: absolute;
  top: 60px;
  left: -40px;

  width: 110px;
  max-height: 122px;

  box-shadow: 0.9px 1px 4px 2px #e4e4e4;

  border-radius: 15px;

  z-index: 100;
}

.type-select-list {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border-bottom: 1.5px solid #e4e4e4;

  cursor: pointer;
}

.type-select-list:nth-child(1) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.type-select-list:nth-child(3) {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/***********************/
/* CUSTOM HOST SELECT  */
/***********************/
.custom-select-host {
  position: absolute;
  top: 58px;
  left: -83px;

  width: 200px;
  max-height: 122px;

  box-shadow: 0.8px 0.8px 4px 1.5px #e4e4e4;

  border-radius: 15px;

  z-index: 100;
}

.host-select-wrap {
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  border: 1.5px solid #e4e4e4;
}

.host-select-list {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border-bottom: 1.5px solid #e4e4e4;
}

.host-select-list:nth-child(1) {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.host-select-list:nth-child(3) {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
