.host-update-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 600px;
  height: auto;

  padding: 20px;
  margin-bottom: 500px;

  border-radius: 15px;
  background-color: #ffffff;
}

/* ************************** */
/* Input hash tag Information */
/* ************************** */

.hashTag_area {
	width: 400px;
}
#tag-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 8px;
	width: 400px;
}

.tag-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #b2a4ff;
	color: #ffffff;
	padding: 4px 8px;
	
	font-size: 12px;
	border-radius: 8px;
	
	margin-right: 6px;
	margin-bottom: 6px;
}

.del-btn {
	font-size: 12px;
	margin-left: 4px;
	
	cursor: pointer;
}



.inputWrap {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: auto;

  margin-bottom: 12px;
}

.inputWrap p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.inputWrap input {
  box-sizing: border-box;
  width: 400px;
  height: 32px;

  padding: 0 8px;

  border: 1px solid #e4e4e4;
  border-radius: 8px;
}

.inputWrap input:focus {
  border: 1px solid #b2a4ff;
}

/* *********** */
/* Input Email */
/* *********** */
.inputWrap.email input {
  width: 220px;
  height: 32px;

  padding: 0 8px;

  border: 1px solid #e4e4e4;
  border-radius: 8px;

  margin-right: 8px;
}

.inputWrap.email button {
  box-sizing: border-box;
  width: 108px;
  height: 32px;

  color: #ffffff;
  font-weight: 700;

  border: none;
  border-radius: 8px;
  background-color: #b2a4ff;
}

/* ************************* */
/* Input BackOffice Location */
/* ************************* */
#zipcode {
  width: 100px;
  margin-right: 12px;
}

#find-zipcode {
  width: 100px;
}

.inputWrap.location {
  align-items: flex-start;
  height: 100%;
}

.inputWrap.location p {
  margin: 0;
}

.inputWrap.location input:not(:last-child) {
  margin-bottom: 12px;
}

.input-location {
  height: 100%;
}

/* **************************** */
/* Input BackOffice Information */
/* **************************** */
.inputWrap.info {
  align-items: flex-start;
  height: 100%;
}

.inputWrap.info p {
  margin: 0;
}

#backoffice_info {
  box-sizing: border-box;
  resize: none;

  width: 400px;
  height: 200px;

  padding: 8px;

  border: 1px solid #e4e4e4;
  border-radius: 8px;
  outline-color: #b2a4ff;
}

/* ************************ */
/* Input BackOffice Options */
/* ************************ */
.checkbox {
	box-sizing: border-box !important;
	width: 15px !important;
	height: 15px !important;
}

.inputWrap.backoffice_type {
	align-items: flex-start;
	height: auto;
}

.inputWrap.backoffice_type p {
	margin: 0;
}

.inputWrap.option {
	align-items: flex-start;
	height: 300px;
}

.inputWrap.option p {
	margin: 0;
}

.option-group-row {
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin-bottom: 12px;
}

.option-item {
	width: 130px;
	font-size: 13px;
}

.option-item label {
	width: 100%;
	position: relative;
	top: -2px;
}

.inputWrap.facilities {
	align-items: flex-start;
	height: 60px;
}

.inputWrap.facilities p {
	margin: 0;
}

/* ********************* */
/* CUSTOM TABLE FOR TIME */
/* ********************* */
.inputWrap.time {
	align-items: flex-start;
	height: 100%;
}

.inputWrap.time p {
	margin: 0;
}

.custom-table.update {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.custom-table-heading.update {
	display: flex;
	margin-bottom: 12px;
}

.custom-table-body.update {
	display: flex;
	flex-direction: column;
}

.table-head-cell:first-child.update {
	width: 40px;
}

.table-head-cell.update {
	width: 100px;
}

.table-head-cell.update p {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.table-body-cell:first-child.update {
	width: 40px;
}

.table-body-row.update {
	display: flex;
	margin-bottom: 12px;
}

.table-body-cell.update {
	width: 100px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

.table-body-cell.update input {
	width: 56px;
	height: 20px;
}

/* ****** */
/* SUBMIT */
/* ****** */
.submit {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.submit-application {
	box-sizing: border-box;
	border: none;
	border-radius: 8px;
	width: 180px;
	height: 50px;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	background-color: #b2a4ff;
	cursor: pointer;
}

/* ********************** */
/* Input BackOffice Image */
/* ********************** */
.filebox {
	display: flex;
	width: 400px;
}

.filebox .upload-name {
	display: inline-block;
	height: 32px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 78%;
	color: #999999;
	margin-right: 12px;
}

.filebox label {
	box-sizing: border-box;
	display: inline-block;
	padding: 8px 12px;
	color: #808080;
	vertical-align: middle;
	text-align: center;
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #e4e4e4;
	border-radius: 8px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	width: 100px;
	height: 32px;
	font-size: 12px;
}

.filebox input[type='file'] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}