/* ************ */
/* @author 전판근 */
/* ************ */

p {
  margin: 0;
}

/* **************** */
/* 공간 관리 메인 리스트 */
/* **************** */

.room-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  width: 100%;
}

.room-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: #ffffff;

  width: 284px;
  padding: 16px 20px;

  border-radius: 15px;
}

.room-item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.item-header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 12px;

  width: 100%;
}

.item-buttons button {
  background-color: #ffffff;
  font-size: 10px;

  border: none;
  color: #808080;

  cursor: pointer;
}

.item-body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

#room-price {
  font-weight: 700;
}

#room-price::after {
  content: ' 원/시간';
  font-size: 12px;
  font-weight: 400;
  vertical-align: 10%;
}
