<!-- ------------ -->
<!-- @author 김예은 -->
<!--------------- -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="mileage-list-wrap" th:fragment="content">
    <div class="reserve-list">
        <section class="page-title-section">
            <span class="page-title">지금까지 쌓인 마일리지를 확인하세요</span>
        </section>

        <section class="mileage-section">
            <section class="mileage-section">
                <section class="mileage">
                    <span class="mileage-label">현재 마일리지</span>
                    <span id="now-mileage" class="mileage-won">[[${mileage_total}]] 원</span>
                </section>
            </section>
        </section>

        <section class="mileage-list-section">
            <section class="mileage-list-menu">
				<span id = "all" th:if="${searchKey} == 'all'" class="menus choice">전체</span>
				<span id = "all" th:if="${searchKey} != 'all'" class="menus un-choice">전체</span>
			
				<span id = "plus" th:if="${searchKey} == 'plus'" class="menus choice">적립</span>
				<span id = "plus" th:if="${searchKey} != 'plus'" class="menus un-choice">적립</span>
			
				<span id = "minus" th:if="${searchKey} == 'minus'" class="menus choice">사용</span>
				<span id = "minus" th:if="${searchKey} != 'minus'" class="menus un-choice">사용</span>
            </section>

            <section class="mileage-history-section">
                <section class="mileage-history-title-section">
                    <div class="list-title-txt-wrap">
                        <span class="list-title-txt list-status">상태</span>
                        <span class="list-title-txt list-mileage">마일리지</span>
                        <span class="list-title-txt list-content">내용</span>
                        <span class="list-title-txt list-date">적용일</span>
                    </div>
                </section>
                           
                <section class="mileage-history-wrap">
                	<ul>
						<!-- START th:each -->
						<th:block th:each="obj : ${res.list}">
                            <li class="mileage-list">
                                <span th:if="${obj.state} == 'F'" class="list-status ">사용</span>
                                <span th:if="${obj.state} == 'T'" class="list-status plus-price-label">적립</span>
                                
                                <span th:if="${obj.state} == 'T'" class="list-mileage plus-price">+[[${obj.mileage}]]</span>
                                <span th:if="${obj.state} == 'F'" class="list-mileage minus-price">-[[${obj.mileage}]]</span>

                                <span class="list-content">[[${obj.room}]]</span>
                                <span class="list-date">[[${obj.date}]]</span>
                            </li>
                       	</th:block>
						<!-- END th:each -->
                    </ul>
               </section>
            </section>
        </section>
    </div>
</div>
</body>
</html>