<!-- ------------ -->
<!-- @author 김예은 -->
<!--------------- -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="question-list-wrap" th:fragment="content">
    <section class="page-title-section">
        <span class="page-title">문의한 내역들을 바로 확인해 보세요</span>
    </section>

    <section class="question-history-section">
    	<div>
	        <section class="question-history-title-section">
	            <div class="list-title-txt-wrap">
	                <span class="list-title-txt list-status">처리 상태</span>
	                <span class="list-title-txt list-company-name">문의 장소</span>
	                <span class="list-title-txt list-content">문의 내용</span>
	                <span class="list-title-txt list-date">작성일</span>
	            </div>
	        </section>
	        <section class="question-history-wrap">
	            <ul>
	            	<th:block th:each="obj : ${res.list}">
		                <li class="question-list">
		                    <div class="question-content-wrap">
		                        <span th:if="${obj.state} == 'Y'" class="list-status complete-label">처리</span>
		                        <span th:if="${obj.state} == 'N'" class="list-status un-complete-label">미처리</span>
								
								
		                        <span class="list-company-name">[[${obj.backoffice_name}]]</span>
		                        <span class="list-content">[[${obj.comment_content}]]</span>
		                        <span class="list-date">[[${obj.comment_date}]]</span>
		                    </div>
		                    <div class="detail-question-wrap blind">
		                        <div class="question-line">
	                                <div class="q-line">
	                                    <label class="q_label">Q.</label>
	                                    <th:block th:if="${obj.answer_content} == null">
		                                    <div class="question-btn-wrap">
		                                        <span class="question-btn question-d-btn" th:attr="idx=${obj.comment_no}">삭제</span>
		                                    </div>
	                                    </th:block>
	                                </div>
	                                <span>[[${obj.comment_content}]]</span>
	                            </div>
	                            
		                        <th:block th:if="${obj.answer_content} != null">
			                        <div class="answer-line">
			                            <div class="answer-label">
	                                        <label class="a_label">A.</label>
	                                        <span class="answer-date">
		                                        작성일&nbsp;&nbsp;|&nbsp;&nbsp;
		                                        [[${obj.answer_date}]]
	                                        </span>
	                                    </div>
			                            <span>[[${obj.answer_content}]]</span>
			                        </div>
		                        </th:block>
		                    </div>
		                </li>
	                </th>
	            </ul>
	        </section>
    	</div>
    	
       <th:block th:if="${res.maxPage} > 0"> 
			<section class="paging-section">
				<section class="paging-section">
	            	<div class="paging-wrap">
		                <span th:if="${res.maxPage} <= 5" class="paging-box before-page-btn hide"> &lt;&lt; </span>
		                <span th:unless="${res.maxPage} <= 5" class="paging-box before-page-btn"> &lt;&lt; </span>
		                
		                <th:block th:with="ceil=${#numbers.formatInteger(T(java.lang.Math).ceil((res.nowPage)/5.0),1)}" >
			                <th:block th:with="start=(5 * (${ceil} - 1) + 1)" >
				                <div class="paging-num-wrap paging-wrap">
				                <th:block th:each="num : ${#numbers.sequence(start, res.maxPage)}">
				                    <span th:if = "${num} == ${res.nowPage}" th:attr="idx=${num}" class="paging-box paging-num choice">[[${num}]]</span>
				                    <span th:if = "${num} != ${res.nowPage}" th:attr="idx=${num}" class="paging-box paging-num un-choice">[[${num}]]</span>
				                </th:block>
				                </div>
			                </th:block>
		                </th:block>
		                
		                <span th:if="${res.totalPageCnt} > 5 and ${res.maxPage} < ${res.totalPageCnt}" class="paging-box next-page-btn">>></span>
		                <span th:unless="${res.totalPageCnt} > 5 and ${res.maxPage} < ${res.totalPageCnt}" class="paging-box next-page-btn hide">>></span>
		                <input type="hidden" id="totalPageCnt" th:value="${res.totalPageCnt}">
		            </div>
	            </section>
	        </section>
		</th:block>
    </section>
</div>
</body>
</html>