<!-- ------------ -->
<!-- @author 김예은 -->
<!--------------- -->

<!-- 공간 리스트 페이지 // 공간 소개 페이지 - 데스크,회의룸/오피스 -->
<!DOCTYPE html>
<html>

<head>
	<title>RENCE</title>

	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />

	<script src="/static/JS/common/jquery-3.6.1.min.js"></script>
	<script src="/static/JS/common/jquery.cookie.js"></script>

	<script src="/static/JS/office/header.js"></script>
	<script src="/static/JS/office/user_popup.js"></script>

	<link rel="stylesheet" href="/static/CSS/common/common.css" />
	<link rel="stylesheet" href="/static/CSS/office/login.css" />
	<link rel="stylesheet" href="/static/CSS/office/header.css" />
	<link rel="stylesheet" href="/static/CSS/common/footer.css" />

	<link rel="stylesheet" href="/static/CSS/office/home.css" />
	
	<link rel="stylesheet" href="/static/CSS/office/jquery-ui.css" />
	<link rel="stylesheet" href="/static/CSS/office/jquery-ui-timepicker.css" />
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="/static/JS/office/timepicker.js"></script>

	<script src="/static/JS/office/reserve_info.js"></script>
	<script src="/static/JS/office/home.js"></script>

	<th:block th:if="${res} != null">
		<th:block th:if="${res.page} == 'list_page'">
			<link rel="stylesheet" href="/static/CSS/office/list-page.css" />
			<script src="/static/JS/office/list-page.js"></script>
		</th:block>

		<th:block th:if="${page} == 'space_detail'">
			<link rel="stylesheet" href="/static/CSS/office/space-detail-introduce.css" />
			<link rel="stylesheet" href="/static/CSS/office/jquery-ui.css" />
			<link rel="stylesheet" href="/static/CSS/office/jquery-ui-timepicker.css" />
			<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
			<script src="/static/JS/office/timepicker.js"></script>
			<script src="/static/JS/office/space_detail_introduce.js"></script>
		</th:block>

		<th:block th:if="${page} == 'space_detail_office'">
			<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

			<link rel="stylesheet" href="/static/CSS/office/space-detail-introduce-office.css" />
			<script src="/static/JS/office/space_detail_introduce_office.js"></script>
		</th:block>
	</th:block>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var is_login2 = /*[[${session.user_id}]]*/ "is_login2";
		/*]]*/
	</script>
	
	<th:block th:if="${page == 'space_detail'} or ${page == 'space_detail_office'}">
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3b12e82dc4c8922a38cfd990bfa0afbd&libraries=services"></script>
		<script>
			$(function(){
				var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
				    mapOption = {
				        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
				        level: 3 // 지도의 확대 레벨
				    };  
				
				// 지도를 생성합니다    
				var map = new kakao.maps.Map(mapContainer, mapOption); 
				
				// 주소-좌표 변환 객체를 생성합니다
				var geocoder = new kakao.maps.services.Geocoder();
				
				var location = $("#location_addr").val();
				var location_name = $("#location_name").val();
				
				// 주소로 좌표를 검색합니다
				geocoder.addressSearch(location, function(result, status) {
				
				    // 정상적으로 검색이 완료됐으면 
				     if (status === kakao.maps.services.Status.OK) {
				
				        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
				
				        // 결과값으로 받은 위치를 마커로 표시합니다
				        var marker = new kakao.maps.Marker({
				            map: map,
				            position: coords
				        });
				        
				        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
						    mapOption = {
						        center: new kakao.maps.LatLng(result[0].y, result[0].x), // 지도의 중심좌표
						        level: 3 // 지도의 확대 레벨
						    }; 
						map = new kakao.maps.Map(mapContainer, mapOption); 
						
				        // 인포윈도우로 장소에 대한 설명을 표시합니다
				        var infowindow = new kakao.maps.InfoWindow({
				            content: '<div style="width:150px;text-align:center;padding:6px 0;">' + location_name +'</div>'
				        });
				        infowindow.open(map, marker);
				
				        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
				        map.setCenter(coords);
				    } 
				});
				
				
				/************************************************* */
				/****************** PAGING SECTION *************** */
				/************************************************* */
				
			    $(".question-paging").on("click", ".paging-box.paging-num", function(){
					$(".question-paging").find(".paging-box.paging-num").removeClass("choice");
					$(".question-paging").find(".paging-box.paging-num").addClass("un-choice");
					
					$(this).addClass("choice");
					$(this).removeClass("un-choice");
					
					//로딩 화면
					$(".popup-background:eq(1)").removeClass("blind");
					$("#spinner-section").removeClass("blind");
						
					$.ajax({
						url: "/office/introduce_q_paging",
						type: "GET",
						dataType: "json",
						data: {
							backoffice_no : window.location.href.split("?backoffice_no=")[1].split("&")[0],
							page: Number($(this).text())
						},
						success: function(res) {
							//로딩 화면 닫기
							$(".popup-background:eq(1)").addClass("blind");
							$("#spinner-section").addClass("blind");

							$("#question-wrap").find(".quest-list-wrap").empty();
							
							for(var i = 0; i < res.cvos.length; i++){
								// 로그인 안되어있을 떄
								if (is_login2 == null) {

									var sample = "<li class='quest-list'>";
									
									if(res.cvos[i].is_secret == 'T'){
										sample += "<section> <img src='https://rence.s3.ap-northeast-2.amazonaws.com/user/img_host_001.jpg' alt='write-user-img' class='write-user-img' /> </section>";
									}else{
										sample += "<section> <img src='' alt='write-user-img' class='write-user-img' /> </section>";
									}
									
									sample +="<section class='quest-content-section'><ul class='quest-content-wrap'><li class='quest-content-list quest-content-writer'>";
									
									if(res.cvos[i].is_secret == 'T'){
										sample += "<span>비밀댓글</span><span class='lock_img'><img src='/static/IMG/space-introduce/lock.svg'></span></li>";
										sample += "<li class='quest-content-list quest-content'>비밀 문의입니다.</li>";
									}else{
										sample += "<span>" + res.cvos[i].user_name + "</span></li>";
										sample += "<li class='quest-content-list quest-content'>" + res.cvos[i].comment_content + "</li>";
									}
									
									sample += "<li class='quest-content-list quest-content-date'>" + res.cvos[i].comment_date;
									
									if(res.cvos[i].answer_date != null){
										sample += "<span class='answer_toggle'>답변 보기</span>"
									}
									
									sample += "</li></ul></section></li>";
							
								}
								// 로그인 되어있을 떄
								else{
									var sample = "<li class='quest-list'>";
									
									// 비밀 댓글 일 때
									if(res.cvos[i].is_secret == 'T'){
										if($("#is_login").val() == res.cvos[i].user_id){
											sample += "<section> <img src='' alt='write-user-img' class='write-user-img' /> </section>";
										}
										else
											sample += "<section> <img src='https://rence.s3.ap-northeast-2.amazonaws.com/user/img_host_001.jpg' alt='write-user-img' class='write-user-img' /> </section>";
									}
									// 비밀 댓글 아닐 때
									else{
										sample += "<section> <img src='' alt='write-user-img' class='write-user-img' /> </section>";
									}
									
									sample +="<section class='quest-content-section'><ul class='quest-content-wrap'><li class='quest-content-list quest-content-writer'>";
									
									// 비밀 댓글 일 때
									if(res.cvos[i].is_secret == 'T'){
										if($("#is_login").val() == res.cvos[i].user_id){
											sample += "<span>" + res.cvos[i].user_name + "</span><span class='lock_img'><img src='/static/IMG/space-introduce/lock.svg'></span></li>";
											sample += "<li class='quest-content-list quest-content'>" + res.cvos[i].comment_content + "</li>";
										}
										else{
											sample += "<span>비밀댓글</span><span class='lock_img'><img src='/static/IMG/space-introduce/lock.svg'></span></li>";
											sample += "<li class='quest-content-list quest-content'>비밀 문의입니다.</li>";
										}
									}
									// 비밀 댓글 아닐 때
									else{
										sample += "<span>" + res.cvos[i].user_name + "</span>";
										sample += "<li class='quest-content-list quest-content'>" + res.cvos[i].comment_content + "</li>";
									}
									
									sample += "<li class='quest-content-list quest-content-date'>" + res.cvos[i].comment_date;
									
									if(res.cvos[i].answer_date != null){
										sample += "<span class='answer_toggle'>답변 보기</span>"
									}
										
									sample += "</li></ul></section></li>";

								}
								// 답변
								if(res.cvos[i].answer_date != null){
									sample += 
										"<li class='answer-list blind'>" + 
										"<div class='answer_arrow_img'>" + 
											"<img src='/static/IMG/space-introduce/answer_arrow.svg'>" +
										"</div>" + 
										"<div class='answer_text_wrap'>" + 
											"<section>" + 
												"<img src='https://rence.s3.ap-northeast-2.amazonaws.com/user/img_host_001.jpg' alt='write-user-img' class='write-user-img' />" + 
											"</section>" + 
											"<section class='answer-content-section'>" + 
												"<ul class='answer-content-wrap'>" + 
													"<li class='answer-content-list answer-content-writer'>HOST</li>" + 
													"<li class='answer-content-list answer-content'>" + 
														res.cvos[i].answer_content + 
													"</li>" + 
													"<li class='answer-content-list answer-content-date'>" + 
														res.cvos[i].answer_date + 
													"</li>" + 
												"</ul>" + 
											"</section>" + 
										"</div>" + 
									 "</li>";
								}
								
								sample += "</ul> </section>";
								
								$("#question-wrap").find(".quest-list-wrap").append(sample);
								
								if(res.cvos[i].is_secret != 'T'){
									$("#question-wrap").find(".quest-list-wrap").find(".quest-list:last").find(".write-user-img").attr('src', "https://rence.s3.ap-northeast-2.amazonaws.com/user/" + res.cvos[i].user_image);
								}else if(res.cvos[i].is_secret == 'T' && $("#is_login").val() == res.cvos[i].user_id){
									$("#question-wrap").find(".quest-list-wrap").find(".quest-list:last").find(".write-user-img").attr('src', "https://rence.s3.ap-northeast-2.amazonaws.com/user/" + res.cvos[i].user_image);
								}
							}
						},
						error: function(err) {
							//로딩 화면 닫기
							$(".popup-background:eq(1)").addClass("blind");
							$("#spinner-section").addClass("blind");
							console.log(err);
						}
					});
			    });
			    $(".review-paging").on("click", ".paging-box.paging-num", function(){
					$(".review-paging").find(".paging-box.paging-num").removeClass("choice");
					$(".review-paging").find(".paging-box.paging-num").addClass("un-choice");
					
					$(this).addClass("choice");
					$(this).removeClass("un-choice");
					
					//로딩 화면
					$(".popup-background:eq(1)").removeClass("blind");
					$("#spinner-section").removeClass("blind");
						
					$.ajax({
						url: "/office/introduce_r_paging",
						type: "GET",
						dataType: "json",
						data: {
							backoffice_no : window.location.href.split("?backoffice_no=")[1].split("&")[0],
							page:Number($(this).text())
						},
						success: function(res) {
							//로딩 화면 닫기
							$(".popup-background:eq(1)").addClass("blind");
							$("#spinner-section").addClass("blind");
							
							$("#review-wrap").find(".quest-list-wrap").empty();
							
							for(var i = 0; i < res.revos.length; i++){
								var sample = 
									"<li class='quest-list'>" +
										"<section>" + 
											"<img src='' alt='write-user-img' class='write-user-img' />" +
										"</section>" +
										"<section class='quest-content-section'>" +
											"<ul class='quest-content-wrap'>"+
												"<li class='quest-content-list quest-content-writer'>"+
													"<span class='quest-writer'>" + res.revos[i].user_name + "</span>" +
													"<span class='review-star-wrap'>" +
														"<img src='/static/IMG/common/star.svg' class='review-star-img' alt='review-star-img' />" +
														"<span class='review-star-num'>" + res.revos[i].review_point + "</span>" + 
													"</span>" +
												"</li>" +
												"<li class='quest-content-list quest-content'>" + res.revos[i].review_content + "</li>" +
												"<li class='quest-content-list quest-content-date'>" + res.revos[i].review_date + "</li>" +
											"</ul>" +
										"</section>" +
									"</li>";
									
								$("#review-wrap").find(".quest-list-wrap").append(sample);
								$("#review-wrap").find(".quest-list:last").find(".write-user-img").attr('src', "https://rence.s3.ap-northeast-2.amazonaws.com/user/" + res.revos[i].user_image);
							}
						},
						error: function(err) {
							//로딩 화면 닫기
							$(".popup-background:eq(1)").addClass("blind");
							$("#spinner-section").addClass("blind");
								
							console.log(err);
						}
					});
			    });
			});
		</script>
	</th:block>

	<script>
		$(function () {
			var user_image = $.cookie("user_image");

			if (is_login2 != null) {
				$(".user_profile_img").attr("src", "https://rence.s3.ap-northeast-2.amazonaws.com/user/" + user_image);
			}

			$("#question-create-btn").click(function () {
				if (is_login2 != null) {
					$("#question-popup").removeClass("blind");
				}
				else {
					$(".popup-background:eq(1)").removeClass("blind");
					$("#common-alert-popup").removeClass("blind");
					$(".common-alert-txt").text("로그인 후 이용가능한 기능입니다.");
				}
			});
			
			function getDayOfWeek(date) {
			    let week = [0, 1, 2, 3, 4, 5, 6]
			    let dayOfWeek = week[new Date(date).getDay()];
				return dayOfWeek;
			}
			
			$('.type-border-txt.time-input').change(function() {
				console.log("change");
				$("#check_available").removeClass("blind");
				$("#go_reserve").addClass("blind");
				$('.time-boundary-list li').css('display', 'none');
				
				$('.time-boundary-list li').each(function (index, item) {
					console.log($(item).removeClass('selected'));
				});
			});

			/**************************/
			/*** 예약 가능 여부 버튼 클릭 ***/
			/**************************/
			$("#check_available").click(function () {
				if (is_login2 != null) {
					// 예약 타입 선택 O
					if ($(".type-border-txt").prop("check") == true) {
						if ($(".time-input:eq(0)").val() != '' && $(".time-input:eq(1)").val() != '') {
							if ($(".time-input:eq(0)").val() > $(".time-input:eq(1)").val()) {
								$(".fixed-popup").removeClass("blind");
								$(".using-time-fail-txt:eq(0)").html("체크인 시간이 체크아웃 시간보다<br><br>빠를 수는 없습니다.");
							}
							else {
								if ($(".time-input:eq(0)").val() == $(".time-input:eq(1)").val()) {
									$(".fixed-popup").removeClass("blind");
									$(".using-time-fail-txt:eq(0)").html("체크인 시간과 체크아웃 시간이<br><br>같을 수는 없습니다.");
								}
								else {
									// 예약 가능 확인 로직
									let query = location.search;
									let param = new URLSearchParams(query);
									let backoffice_no = param.get('backoffice_no');
									let room_no = $("#type-choice-value").attr("room_no");
									let reserve_date = $(".time-input:eq(0)").val();
									
									console.log(backoffice_no, room_no, reserve_date);

									$.ajax({
										url: "/office/reserve_check",
										type: "GET",
										dataType: "json",
										data: {
											backoffice_no: backoffice_no,
											room_no: room_no,
											reserve_date: reserve_date
										},
										
										success: function(res) {
											let reserve_list = res.reserve_list;
											let pickerDate = '';
											let pick_time_list = [];	// 예약 선택 시간
											let temp_stime = '';
											let now = new Date();
											let year = now.getFullYear();
											let month = now.getMonth() + 1;
											let date = now.getDate();
											
											let today = year + "/" + month + "/" + date;
											let now_hours = now.getHours();
											
											let check_reserve_time = [];
											
											// 선택 날짜 요일 구하기
											pickerDate = $('.type-border-txt.time-input').val().trim();
											let dayOfWeek = getDayOfWeek(pickerDate);
											
											
											$("#check_available").addClass("blind");
											$("#go_reserve").removeClass("blind");
											
											console.log(reserve_list);
											
											let running_stime = '';
											let running_etime = '';
											
											$('.running-time-li-wrap li').each(function (index, item) {
												if (index === dayOfWeek) {
													let running_time = $(this).children('span').text().trim();
													
													if (running_time !== '휴무') {
														let split_time = running_time.split(' ~ ');
														
														running_stime = parseInt(split_time[0].split(':')[0]);
														running_etime = parseInt(split_time[1].split(':')[0]);
														
														console.log(running_time, running_stime, running_etime);
														
														$('#reserve-time-boundary').css('display', 'flex');
														let running_time_list = [];
														
														temp_stime = '';
														
														if (pickerDate == today) {
															if (running_stime <= now_hours) {
																temp_stime = now_hours + 1;
															} else {
																temp_stime = running_stime;
															}
														} else if (pickerDate > today) {
															temp_stime = running_stime;
														}
														
														for (let t = temp_stime; t < running_etime; t++) {
															if (!reserve_list.includes(t)) {
																running_time_list.push(t);															
															}
														}
														
														// 운영 시간 display 표시
														$('.time-boundary-list li').each(function (index, item) {
															// 이전 운영 시간 display 초기화
															$(this).css('display', 'none');
															$(this).removeAttr('display');
															
															if (running_time_list.includes(index)) {
																$(this).css('display', 'flex');
																$(this).attr('display', 'selected');
															}
														});
													} else {
														$('.time-boundary-list li').each(function (index, item) {
															$(this).css('display', 'none')
															$(this).removeAttr('display');
														})
													}
												}
											});
											// END runnint-time-li-wrap li each
										},
										error: function(err) {
											console.log(err);
										}
									});
								}
							}
						}
						// 예약 타입 선택 O, 체크인 or 체크아웃 시간 X
						else {
							$(".fixed-popup").removeClass("blind");
							$(".using-time-fail-txt:eq(0)").html("체크인 시간과 체크아웃 시간을<br><br>모두 선택하여 주십시오.");
						}
					}
					// 예약 타입 선택 X
					else {
						$(".fixed-popup").removeClass("blind");
						$(".using-time-fail-txt:eq(0)").html("예약 타입을 선택하여 주십시오.");
					}
				} else {
					$(".popup-background:eq(1)").removeClass("blind");
					$("#common-alert-popup").removeClass("blind");
					$(".common-alert-txt").text("로그인 후 이용가능한 기능입니다.");
				}
			});
		});
	</script>
</head>

<body>
	<div class="pageWrap">
		<th:block th:if="${session.user_id} == null">
			<div th:replace="thymeleaf/html/office/common/header :: header"></div>
		</th:block>
		<th:block th:if="${session.user_id} != null">
			<div th:replace="thymeleaf/html/office/common/header :: after_login_header"></div>
		</th:block>

		<section class="contentWrap">
			<th:block th:if="${res} != null and ${res.page} == 'list_page'">
				<th:block th:if="${res.cnt} == 0">
					<div th:replace="${content} :: content_null"></div>
				</th:block>
				<th:block th:if="${res.cnt} != 0">
					<div th:replace="${content} :: content_not_null"></div>
				</th:block>
			</th:block>
			<th:block th:if="${res} == null or ${res.page} != 'list_page'">
				<div th:replace="${content} :: content"></div>
			</th:block>
			<div th:replace="thymeleaf/html/office/common/footer :: footer"></div>
		</section>
	</div>

	<div class="popup-background blind">
		<!-- START LOGIN SECTION -->
		<div id="login-section" class="blind">
			<section class="login-popup-logo-section">
				<img src="/static/IMG/common/RENCE.svg" class="popup-logo">
			</section>
			<section class="login-popup-input-section">
				<input type="text" id="login-id" class="login-popup-input" placeholder="아이디를 입력하세요."
					autocomplete="off" />
				<input type="password" id="login-pw" class="login-popup-input" placeholder="비밀번호를 입력하세요." />
			</section>
			<section class="login-popup-btn-section">
				<input type="button" id="login-btn" value="로그인">
				<div class="txt-btn-wrap">
					<span id="go-find-id" class="txt-btn">아이디 찾기</span>
					<span id="go-find-pw" class="txt-btn">비밀번호 찾기</span>
					<span class="txt-btn login-close">창닫기</span>
				</div>
			</section>
		</div>
		<!-- END LOGIN SECTION -->

		<!-- START JOIN SECTION -->
		<div id="join-section" class="blind">
			<section class="join-popup-title-section">
				<span>회원가입</span>
				<span class="join-closer">
					<img src="/static/IMG/common/closer.svg" alt="closer-img" class="closer-img" />
				</span>
			</section>
			<section class="join-popup-input-section">
				<div class="input-wrap">
					<div class="input-check">
						<input type="email" id="join-email" class="join-popup-input-short" placeholder="이메일"
							autocomplete="off" />
						<input type="button" id="check_email" class="join-popup-check-btn" value="인증하기" />
					</div>
					<span class="warning-text blind">다시 시도해주세요.</span>
				</div>
				<div class="input-wrap">
					<div class="input-check">
						<input type="text" id="join-email-code" class="join-popup-input-short" placeholder="인증번호"
							autocomplete="off" />
						<input type="button" id="check_email-code" class="join-popup-check-btn" value="확인" />
					</div>
					<span class="warning-text blind">다시 시도해주세요.</span>
				</div>
				<div class="input-wrap">
					<div class="input-check">
						<input type="text" id="join-id" class="join-popup-input-short"
							placeholder="아이디(소문자, 숫자만 입력 = 5~10자))" autocomplete="off" />
						<input type="button" id="check_id" class="join-popup-check-btn" value="중복확인" />
					</div>
					<span class="warning-text blind">이미 아이디가 존재합니다.</span>
				</div>
				<div class="input-wrap">
					<input type="password" id="join-pw" class="join-popup-input"
						placeholder="비밀번호(영문+숫자+특수문자 = 8~10글자)" />
					<span class="warning-text blind">다시 시도해주세요.</span>
				</div>
				<div class="input-wrap">
					<input type="password" id="join-re-pw" class="join-popup-input" placeholder="비밀번호 재입력" />
					<span class="warning-text blind">다시 시도해주세요.</span>
				</div>
				<div class="input-wrap">
					<input type="text" id="join-name" class="join-popup-input" placeholder="이름" autocomplete="off" />
				</div>
				<div class="input-wrap">
					<input type="number" id="join-tel" class="join-popup-input" placeholder="전화번호(-없이 입력)"
						autocomplete="off" />
					<span class="warning-text blind">-없이 입력하세요.</span>
				</div>
				<div class="input-wrap">
					<input type="number" id="join-birth" class="join-popup-input" placeholder="생년월일(숫자로만 입력)"
						autocomplete="off" />
					<span class="warning-text blind">숫자로만 입력가능합니다.</span>
				</div>
			</section>
			<section class="join-popup-btn-section">
				<input type="button" id="join-btn" value="회원가입">
			</section>
		</div>
		<!-- END JOIN SECTION -->

		<!-- START FIND-ID SECTION -->
		<div id="find-id-section" class="find-section blind">
			<section class="find-popup-logo-section">
				<span>아이디 찾기</span>
			</section>
			<section class="find-popup-input-section">
				<span class="find-guide-txt">회원가입 시 입력한 이메일을 입력해주세요.</span>
				<input type="email" id="find-id-email" class="find-popup-input" placeholder="이메일을 입력하세요."
					autocomplete="off" />
			</section>
			<section class="find-popup-btn-section">
				<input type="button" id="find-id-btn" class="find-btn" value="메일 보내기">
				<input type="button" id="find-id-close" class="p-close" value="창닫기">
			</section>
		</div>
		<!-- END FIND-ID SECTION -->

		<!-- START FIND-PW SECTION -->
		<div id="find-pw-section" class="find-section blind">
			<section class="find-popup-logo-section">
				<span>비밀번호 찾기</span>
			</section>
			<section class="find-popup-input-section">
				<div class="email-wrap">
					<span class="find-guide-txt">회원가입 시 입력한 이메일을 입력해주세요.</span>
					<input type="email" id="find-pw-email" class="find-popup-input" placeholder="이메일을 입력하세요."
						autocomplete="off" />
				</div>
				<div>
					<span class="find-guide-txt">회원가입 시 입력한 아이디를 입력해 주세요.</span>
					<input type="text" id="find-pw-id" class="find-popup-input" placeholder="아이디를 입력하세요."
						autocomplete="off" />
				</div>
			</section>
			<section class="find-popup-btn-section">
				<input type="button" id="find-pw-btn" class="find-btn" value="비밀번호 찾기">
				<input type="button" id="find-pw-close" class="p-close" value="창닫기">
			</section>
		</div>
		<!-- END FIND-PW SECTION -->

		<!-- START LOGOUT CONFIRM POPUP -->
		<div id="logout-popup" class="confirm-popup blind">
			<section class="confirm-txt-section">
				<span class="logout-txt">
					로그아웃 하시겠습니까?<br><br>
					로그아웃 시 메인페이지로 이동됩니다.
				</span>
			</section>
			<section class="confirm-btn-section">
				<div id="logout-btn" class="confirm-yesBtn">로그아웃</div>
				<div id="logout-closeBtn" class="confirm-noBtn">닫기</div>
			</section>
		</div>
	</div>

	<div class="popup-background blind">
		<!-- START SPINNER SECTION -->
		<div id="spinner-section" class="blind">
			<img src="/static/IMG/common/spinner.gif" class="spinner-img">
		</div>
		<!-- END SPINNER SECTION -->

		<!-- START COMMON CUSTOM ALERT POPUP -->
		<div id="common-alert-popup" class="alert-popup blind">
			<section class="alert-txt-section">
				<span class="common-alert-txt"></span>
			</section>
			<section id="common-alert-btn" class="alert-btn-section">
				<span>확인</span>
			</section>
		</div>

		<!-- START SUCCESS CUSTOM ALERT POPUP -->
		<div id="success-alert-popup" class="alert-popup blind">
			<section class="alert-txt-section">
				<span>해당 이메일로 비밀번호를 전송하였습니다.</span>
			</section>
			<section id="success-alert-btn" class="alert-btn-section">
				<span>확인</span>
			</section>
		</div>

		<!-- START FAIL CUSTOM ALERT POPUP -->
		<div id="fail-alert-popup" class="alert-popup blind">
			<section class="alert-txt-section">
				<span>해당 이메일로 가입된 회원이 없습니다.</span>
			</section>
			<section id="fail-alert-btn" class="alert-btn-section">
				<span>확인</span>
			</section>
		</div>
	</div>
</body>

</html>