<!-- ------------ -->
<!-- @author 김예은 -->
<!--------------- -->

<!-- 과거 예약 상세 정보 / 현재 예약 상세 정보 / 예약 및 결제 페이지 -->
<!DOCTYPE html>
<html>
<head>
	<title>RENCE</title>
	
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

	<script src="/static/JS/common/jquery-3.6.1.min.js"></script>
    <script src="/static/JS/common/jquery.cookie.js"></script>
    
    <script src="/static/JS/common/core.min.js"></script>
    <script src="/static/JS/common/sha256.min.js"></script>
    
    <script src="/static/JS/office/header.js"></script>
    <script src="/static/JS/office/user_popup.js"></script>

	<link rel="stylesheet" href="/static/CSS/common/common.css" />
	<link rel="stylesheet" href="/static/CSS/office/login.css" />
	<link rel="stylesheet" href="/static/CSS/office/header.css" />
	<link rel="stylesheet" href="/static/CSS/common/footer.css" />
	<link rel="stylesheet" href="/static/CSS/office/reserve_info.css" />

    <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script src="/static/JS/office/payment_page.js"></script>
    
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			var is_login2 = /*[[ ${session.user_id} ]]*/
		/*]]*/	
	</script>
	
	<script>
		$(function(){
			var user_image = $.cookie("user_image");
			
			if(is_login2 != null){
				$(".user_profile_img").attr("src", "https://rence.s3.ap-northeast-2.amazonaws.com/user/"+user_image);
			}
			
			$("#write-review-btn").click(function(){
				if(is_login2 != null){
					$("#review-popup").removeClass("blind");
				}
				else{
					$(".popup-background:eq(1)").removeClass("blind");
		            $("#common-alert-popup").removeClass("blind");
		            $(".common-alert-txt").text("로그인 후 이용가능한 기능입니다.");
				}
			});
			
			$("#common-alert-btn").click(function(){
				$(".popup-background:eq(1)").addClass("blind");
				$("#common-alert-popup").addClass("blind");
				
				if($(this).attr("is_reload") == "true"){
					location.reload();
					$(this).attr("is_reload", false);
				}
			});
			
		    /***** *** ******** *****/ 
		    /***** REVIEW POPUP *****/ 
		    /***** *** ******** *****/
		    /** 팝업 닫기 버튼 클릭 이벤트 */ 
		    $("#review-close-btn").click(function(){
		      // TEXTAREA 초기화
		      $("#review-write").val("");
		      // 글자수 초기화
		      $(".review-length").text("0");
		
		      $("#review-write").removeClass("null-input-border");
		      
		      // 별점 초기화
              $(".y-star").addClass("blind");
			  $(".g-star").removeClass("blind");
		    
		      // 팝업 닫기
		      $("#review-popup").addClass("blind");
		    });
		
		  /*** 후기 작성 경고 테두리 제거  ***/
		  $("#review-write").click(function(){
		    $("#review-write").removeClass("null-input-border");
		  });
		
		  /** 후기 작성 시 글자수 제한 */
		  $("#review-write").on("keydown keyup", function(){
		    if($(this).val().length > 500){
		      $(this).val($(this).val().substring(0,500));
		    }
		    $(".review-length").text($(this).val().length);
		  });
		
		  $("#review-create-btn").click(function(){
		    if($("#review-write").val().trim().length > 0){
				//로딩 화면
                $(".popup-background:eq(0)").removeClass("blind");
                $("#spinner-section").removeClass("blind");
                
				
		      var point = 0;
		      for(var i = 0; i<5; i++){
		          if($(".g-star").hasClass("blind")) point++;
		      }
		
		      $.ajax({
		        url : "/rence/insert_review",
		        type : "GET",
		        dataType : 'json',
		        data : {
		            user_no : $.cookie("user_no"),
		            backoffice_no : $(this).attr("backoffice_no"),
		            room_no : $(this).attr("room_no"),
		            review_point : point,
		            review_content : $("#review-write").val().trim()
		        },
		        success : function(res) {
					//로딩 화면 닫기
                    $(".popup-background:eq(0)").addClass("blind");
                    $("#spinner-section").addClass("blind");
                        
		            if(res.result == 1){
		              // TEXTAREA 초기화
		              $("#review-write").val("");
		              
		              // 글자수 초기화
		              $(".review-length").text("0");
		
		              $("#review-write").removeClass("null-input-border");

		              // 별점 초기화
		              $(".y-star").addClass("blind");
					  $(".g-star").removeClass("blind");
		              
		              // 팝업 닫기
		              $("#review-popup").addClass("blind");
		
		              $(".popup-background:eq(1)").removeClass("blind");
		              $("#common-alert-popup").removeClass("blind");
		              $(".common-alert-txt").text("성공적으로 후기가 등록되었습니다.");
		              $("#common-alert-btn").attr("is_reload", true);
		              
		            }else{
		              $(".popup-background:eq(1)").removeClass("blind");
		              $("#common-alert-popup").removeClass("blind");
		              $(".common-alert-txt").text("비밀번호가 일치하지않습니다.");
		            }
		        },
		        error : function() {
		            //로딩 화면 닫기
                    $(".popup-background:eq(0)").addClass("blind");
                    $("#spinner-section").addClass("blind");
                        
		            $(".popup-background:eq(1)").removeClass("blind");
		            $("#common-alert-popup").removeClass("blind");
		            $(".common-alert-txt").text("오류 발생으로 인해 처리에 실패하였습니다.");
		        }
		    });
		    }
		    else{
		      if($("#review-write").val().trim().length == 0){
		        $("#review-write").addClass("null-input-border");
		      }
		      if($("#review-select-choice").attr("choice") != "true"){
		        $(".question-popup-select-val-wrap:eq(1)").addClass("null-input-border");
		      }
		    }
		  });
		
		  /*** 별점 클릭 이벤트 ***/
		  $(".popup-star-li").click(function(){
		    // 별 초기화
		    $(".y-star").addClass("blind");
		    $(".g-star").removeClass("blind");
		
		    // 클릭한 별 파악
		    var last_idx = $(this).attr("id"); 
		
		    var arr = $(".popup-star-li");
		    console.log(arr);
		    console.log(arr.length);
		
		    for(var i = 0; i < arr.length; i++){
		      $(arr[i]).children(".y-star").removeClass("blind");
		      $(arr[i]).children(".g-star").addClass("blind");
		      console.log($(arr[i]).children(".y-star"));
		      console.log($(arr[i]).children(".g-star"));
		
		      if($(arr[i]).attr("id") == last_idx){
		        break;
		      }
		    }
		
		  });
		});
	</script>
</head>
<body>
	<div class ="pageWrap">
		<th:block th:if="${session.user_id} == null">
			<div th:replace="thymeleaf/html/office/common/header :: header"></div>
		</th:block>
		<th:block th:if="${session.user_id} != null">
			<div th:replace="thymeleaf/html/office/common/header :: after_login_header"></div>
		</th:block>
	
		<section class ="contentWrap">
			<div th:replace="${content} :: content"></div>
		</section>
	</div>
	
	<div class="popup-background blind">
        
        <!-- START LOGIN SECTION -->
        <div id="login-section" class="blind">
            <section class="login-popup-logo-section">
                <img src="/static/IMG/common/RENCE.svg" class="popup-logo">
            </section>
            <section class="login-popup-input-section">
                <input type="text" id="login-id" class="login-popup-input" placeholder="아이디를 입력하세요." autocomplete="off"/>
                <input type="password" id="login-pw" class="login-popup-input" placeholder="비밀번호를 입력하세요."/>
            </section>
            <section class="login-popup-btn-section">
                <input type="button" id="login-btn" value="로그인">
                <div class="txt-btn-wrap">
                    <span id="go-find-id" class="txt-btn">아이디 찾기</span>
                    <span id="go-find-pw" class="txt-btn">비밀번호 찾기</span>
					<span class="txt-btn login-close">창닫기</span>
                </div>
            </section>
        </div>
        <!-- END LOGIN SECTION -->
        
        <!-- START JOIN SECTION -->
        <div id="join-section" class="blind">
            <section class="join-popup-title-section">
                <span>회원가입</span>
                <span class="join-closer">
                    <img src="/static/IMG/common/closer.svg" alt="closer-img" class="closer-img" />
                </span>
            </section>
            <section class="join-popup-input-section">
                <div class="input-wrap">
                    <div class="input-check">
                        <input type="email" id="join-email" class="join-popup-input-short" placeholder="이메일" autocomplete="off"/>
                        <input type = "button" id="check_email" class="join-popup-check-btn" value="인증하기"/>
                    </div>
                    <span class="warning-text blind">다시 시도해주세요.</span>
                </div>
                <div class="input-wrap">
                    <div class="input-check">
                        <input type="text" id="join-email-code" class="join-popup-input-short" placeholder="인증번호" autocomplete="off"/>
                        <input type = "button" id="check_email-code" class="join-popup-check-btn" value="확인"/>
                    </div>
                    <span class="warning-text blind">다시 시도해주세요.</span>
                </div>
                <div class="input-wrap">
                    <div class="input-check">
                        <input type="text" id="join-id" class="join-popup-input-short" placeholder="아이디(소문자, 숫자만 입력 = 5~10자))" autocomplete="off"/>
                        <input type = "button" id="check_id" class="join-popup-check-btn" value="중복확인"/>
                    </div>
                    <span class="warning-text blind">이미 아이디가 존재합니다.</span>
                </div>
                <div class="input-wrap">
                    <input type="password" id="join-pw" class="join-popup-input" placeholder="비밀번호(영문+숫자+특수문자 = 8~10글자)"/>
                    <span class="warning-text blind">다시 시도해주세요.</span>
                </div>
                <div class="input-wrap">
                    <input type="password" id="join-re-pw" class="join-popup-input" placeholder="비밀번호 재입력"/>
                    <span class="warning-text blind">다시 시도해주세요.</span>
                </div>
                <div class="input-wrap">
                    <input type="text" id="join-name" class="join-popup-input" placeholder="이름" autocomplete="off"/>
                </div>
                <div class="input-wrap">
                    <input type="text" id="join-tel" class="join-popup-input" placeholder="전화번호(-없이 입력)" autocomplete="off"/>
                    <span class="warning-text blind">-없이 입력하세요.</span>
                </div>
                <div class="input-wrap">
                    <input type="text" id="join-birth" class="join-popup-input" placeholder="생년월일(숫자로만 입력)" autocomplete="off"/>
                    <span class="warning-text blind">숫자로만 입력가능합니다.</span>
                </div>
            </section>
            <section class="join-popup-btn-section">
                <input type="button" id="join-btn" value="회원가입">
            </section>
        </div>
        <!-- END JOIN SECTION -->

        <!-- START FIND-ID SECTION -->
        <div id="find-id-section" class="find-section blind">
            <section class="find-popup-logo-section">
                <span>아이디 찾기</span>
            </section>
            <section class="find-popup-input-section">
                <span class="find-guide-txt">회원가입 시 입력한 이메일을 입력해주세요.</span>
                <input type="email" id="find-id-email" class="find-popup-input" placeholder="이메일을 입력하세요." autocomplete="off"/>
            </section>
            <section class="find-popup-btn-section">
                <input type="button" id="find-id-btn" class="find-btn" value="메일 보내기">
                <input type="button" id="find-id-close" class="p-close" value="창닫기">
            </section>
        </div>
        <!-- END FIND-ID SECTION -->

        <!-- START FIND-PW SECTION -->
        <div id="find-pw-section" class="find-section blind">
            <section class="find-popup-logo-section">
                <span>비밀번호 찾기</span>
            </section>
            <section class="find-popup-input-section">
                <div class="email-wrap">
                    <span class="find-guide-txt">회원가입 시 입력한 이메일을 입력해주세요.</span>
                    <input type="email" id="find-pw-email" class="find-popup-input" placeholder="이메일을 입력하세요." autocomplete="off"/>
                </div>
                <div>
                    <span class="find-guide-txt">회원가입 시 입력한 아이디를 입력해 주세요.</span>
                    <input type="text" id="find-pw-id" class="find-popup-input" placeholder="아이디를 입력하세요." autocomplete="off"/>
                </div>
            </section>
            <section class="find-popup-btn-section">
                <input type="button" id="find-pw-btn" class="find-btn" value="비밀번호 찾기">
                <input type="button" id="find-pw-close" class="p-close" value="창닫기">
            </section>
        </div>
        <!-- END FIND-PW SECTION -->

        <!-- START LOGOUT CONFIRM POPUP -->
        <div id ="logout-popup" class="confirm-popup blind">
            <section class="confirm-txt-section">
                <span class="logout-txt">
                	로그아웃 하시겠습니까?<br><br>
                    로그아웃 시 메인페이지로 이동됩니다.
                </span>
            </section>
            <section class="confirm-btn-section">
                <div id="logout-btn" class="confirm-yesBtn">로그아웃</div>
                <div id="logout-closeBtn" class="confirm-noBtn">닫기</div>
            </section>
        </div>
        
		<!-- 현재 예약 리스트 예약 상세 정보 페이지 -->
		<!-- START RESERVE-CANCLE CONFIRM POPUP -->
        <div id ="reserve-cancle-popup" class="confirm-popup blind">
            <section class="confirm-txt-section">
                <span class="reserve-cancle-txt">
                    예약을 정말로 취소하시겠습니까?<br><br>
                    환불 규정에 따라 환불 될 예정입니다.
                </span>
            </section>
            <section class="confirm-btn-section">
                <div id="refund-btn" class="confirm-yesBtn">확인</div>
                <div id="refund-closeBtn" class="confirm-noBtn">취소</div>
            </section>
        </div>
        <!-- END RESERVE-CANCLE CONFIRM POPUP -->
        
		<!-- 예약 및 결제 페이지 -->
        <!-- START reserve-success ALERT POPUP -->
        <div id ="reserve-success-alert-popup" class="alert-popup blind">
            <section class="alert-txt-section">
                <span>
                    예약에 성공하였습니다.
                </span>
            </section>
            <section id = "reserve-success-alert-btn" class="alert-btn-section">
                <span>확인</span>
            </section>
        </div>
    </div>

    <div class="popup-background blind">
    	<!-- START SPINNER SECTION -->
	    <div id="spinner-section" class="blind">
	        <img src="/static/IMG/common/spinner.gif" class="spinner-img">
	    </div>
	    <!-- END SPINNER SECTION -->
    
    	<!-- START COMMON CUSTOM ALERT POPUP -->
        <div id ="common-alert-popup" class="alert-popup blind">
            <section class="alert-txt-section">
                <span class="common-alert-txt"></span>
            </section>
            <section id = "common-alert-btn" class="alert-btn-section">
                <span>확인</span>
            </section>
        </div>
        
        <!-- START SUCCESS CUSTOM ALERT POPUP -->
        <div id ="success-alert-popup" class="alert-popup blind">
            <section class="alert-txt-section">
                <span>해당 이메일로 비밀번호를 전송하였습니다.</span>
            </section>
            <section id = "success-alert-btn" class="alert-btn-section">
                <span>확인</span>
            </section>
        </div>

        <!-- START FAIL CUSTOM ALERT POPUP -->
        <div id ="fail-alert-popup" class="alert-popup blind">
            <section class="alert-txt-section">
                <span>해당 이메일로 가입된 회원이 없습니다.</span>
            </section>
            <section id = "fail-alert-btn" class="alert-btn-section">
                <span>확인</span>
            </section>
        </div>
    </div>
</body>
</html>