/* ************ */
/* @author 김예은 */
/* ************ */

.homeWrap{
    width: 100%;
    height: calc(100vh - 95px - 76px);

    display: flex;
    flex-direction: column;
}
.homeWrap *{
    font-family: 'OTWelcome';
}

.homeTitle-wrap{
    width: 1080px;

    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.homeTitle{
    font-size: 25px;
    font-weight: bold;
}
.type-list-wrap{
    display: flex;
    justify-content: space-between;
    
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.type-list{
    width: 340px ;
    height: 360px ;

    box-shadow: 1.8px 1.7px 5px 2px #e4e4e4;
    border-radius: 20px;
    cursor: pointer;
}

.type-img-section{
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.type-title-section{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
    font-size: 22px;
}
.type-txt-section{
    width: 100%;
    height: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    padding-bottom: 25px;
    
    font-weight: bolder;
}